useDynLib(casper)

import(IRanges, graphics)
importFrom(GenomicFeatures, transcripts, exonsBy, makeTranscriptDb)
importFrom(mgcv,gam,predict.gam,s)
importFrom(sqldf, sqldf)
importFrom(VGAM,vglm,betabinomial.ab,Coef)
importClassesFrom(GenomicFeatures, TranscriptDb)
importFrom(survival,Surv,survfit)

#export regular functions
export(calcDenovo, calcExp, createDenovoGenome, getDistrs, getIsland, genePlot, modelPrior, pathCounts, plotPriorAS, posprob, procBam, procGenome, relativeExpr, rmShortInserts, simMultSamples, simReads, transcripts, variants, "variants<-", getReads, getNreads, getChr, getIsland, subsetGenome, mergeExp, txLength, wrapKnown)

exportClasses(annotatedGenome, pathCounts, procBam)
#export general methods
exportMethods("plot","lines")




